In [3]:
import datetime
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from fastparquet import ParquetFile
from itertools import chain
import re
from addr_dict import state_dict, substate_dict
from stop_word_list import stop_words_lst

In [5]:
co_name_col = ['MER_NAME','CARD_USE_HIS']

address_cols = ['MER_ADDR'] 
phone_col = 'MER_MSISDN'
source = 'MEUMS_COLL_CARD_MER'

In [6]:
def delete_stopwords(s, stop_words_lst):
    """Clean strings by removing unwanted stopwords.
    
    Parameters
    ----------
    s : string. string to delete stopwords

    stop_words_lst : list. list of stopwords 


    Example
    -------

    stop_words_lst = ["(주)", "(유)", "(사)", "(의)", "(재)",
                    "주식회사", "유한회사", "사단법인", "의료법인", "재단법인",
                    "(사단)", "(유한)", "(의료)", "(법인)", "(재단)",
                    "(주식회사)", "(유한회사)", "(사단법인)", "(의료법인)", "(재단법인)", 
                    "[아이행복]", "온누리상품권", "무이자"]

    Returns
    -------
    string
    """

    for sw in stop_words_lst:
        # delete the stopword when store name starts with the stopword
        s = s.replace(sw, ' ')
#         if s.startswith(sw):
#             s = s.replace(sw, "")

#         # delete the stopword when store name starts with the stopword
#         elif s.endswith(sw):
#             s = s.replace(sw, "")

#         # delete the stopword when store name has the stopword (with space)
#         else: 
#             s = ' '.join([w for w in s.split() if w not in stop_words_lst])           


    return s

In [7]:
def replace_by(s, by_whitespace, by_none):
    """Replace something by whitespace or none.
    
    Parameters
    ----------
    s : series. series of string to delete something

    by_whitespace : regex or string to replace by single whitespace
    
    by_none : regex or string to replace by none.


    Example
    -------
    by_whitespace : r'[\(\)\[\]]' ==> replace brasekets like (), [] to single whitespace.
    by_none : r'[\-\_\]' ==> delete  -, _ .


    Returns
    -------
    series
    """

    if by_whitespace:
        s = s.str.replace(by_whitespace, ' ')
        # example : r'[\(\)\[\]]'

    if by_none:
        s = s.str.replace(by_none, '')
        # example : r'[\-\_\]'

    return s

In [8]:
def remove(s, bw_brackets = True, double_space = True, single_space = False):
    """
    Clean words between something.
    """

    if bw_brackets:
        s = s.replace(r'(\[.*?\]|\(.*?\)|\{.*?\})', '')

    if double_space:
        s = s.replace(r'\s\s+', ' ')

    if single_space:
        s = s.replace(r'\s', '')

    return s

In [9]:
def stop_words_lst_maker(df,col_name):
    
    match=[]
    match_list=[]
    for idx in list(df[col_name]):
        match.append(re.findall(r'^(\[.*?\]|\(.*?\)|\{.*?\})',idx))
            
    for idx in match:
        for i in idx:
            match_list.append(i)
        
    match_list=list(set(match_list))
    
    return match_list

In [10]:
def del_start_end_void(s):
    s=s.strip()
    return s

In [11]:
def preprocess_name(df, co_name_col, stop_words_lst):
    s = datetime.datetime.now()
    
    df[co_name_col + '_new'] = df[co_name_col].apply(delete_stopwords, stop_words_lst = stop_words_lst)
    df[co_name_col + '_new'] = replace_by(df[co_name_col + '_new'], by_whitespace=r'[\(\[]',by_none=r'[\)\]]')
    df[co_name_col + '_new'] = remove(df[co_name_col + '_new'], bw_brackets=False, double_space=True)
    
    df[co_name_col + '_new'] = df[co_name_col + '_new'].apply(del_start_end_void)
    
    df[co_name_col + '_yn'] = df[co_name_col] != df[co_name_col + '_new']
    
    print(datetime.datetime.now()-s, "time spent to preprocess name column")
    
    return df

In [12]:
# df[df['CARD_USE_HIS'].str.contains(r'\.\.\.')]

In [13]:
def check_processed_result(source_column, n_of_ex):
    new_cols = [i for i in df.columns if i.startswith(source_column)]
    print("Preprocessing source columns ", source_column)
    print("# of records changed : ", df[source_column + '_yn'].sum())
    try: 
        print("Examples:")
        display(df.loc[(df[source_column + '_yn'] == True), new_cols].sample(n_of_ex))
    except ValueError:
        print("No example.")

In [14]:
def split_addr_part1(addr):
    """
    Get state, a substate, else, and detail part from an address.

    :param addr: series.
    :return:
    """
    # seperate address by comma(,)
    if len(addr.split(",")) >= 2:
        addr_main = addr.split(",")[0]
        addr_detail = " ".join(addr.split(",")[1:])

    else:
        addr_main = addr
        addr_detail = ''

    return addr_main, addr_detail

In [15]:
def split_addr_part2(addr_main):

    # main 파트의 첫 번째 단어를 가져온다.
    if len(addr_main.split()) >= 2:
        addr_state = addr_main.split()[0]
        addr_substate = addr_main.split()[1]
        if len(addr_main.split()) >= 3:
            addr_else = " ".join(addr_main.split()[2:])
        else:
            addr_else = ''

    else:
        addr_state = addr_main
        addr_substate = ''
        addr_else =  ''

    return addr_state, addr_substate, addr_else

In [16]:
def standardize_state(state_col):
    state_col_new = state_col.copy()

    # Change state name to official name
    for state in state_dict.keys():
        condition = state_col.isin(state_dict[state])
        print(state, condition.sum())
        ids_under_contion = state_col.loc[condition].index
        state_col_new.loc[state_col_new.index.isin(ids_under_contion)] = state
    
#     print(state_col_new.unique())
        
    return state_col_new

# Blocking

In [17]:
def assign_blocks(df,address_cols):
    
    # address_cols is list 
    ad_col=address_cols[0]
    df['block1'] = None #block1 default is 'None'
    
    
    condition = (df[ad_col+'_state'].isin(list(state_dict.keys()))) & (df[ad_col+'_state'] != '세종특별자치시')
    df.loc[condition, 'block1'] = df.loc[condition, ad_col+'_state']

    condition = (df[ad_col+'_state'] == '세종특별자치시')
    df['block1'] = df['block1'].mask(condition, '세종특별자치시')

    df['block1'] = df['block1'].mask(df['block1'].isnull(), 'NoBlock1')
    
    df['block2'] = None #block2 default is 'None'
    
    #only use addr
    #주소 list를 만들때 이 함수를 고려하여 만들어야함.
    
    
    #Blocking step 1 : for POIs that have standardized substate name from ADDR and are not located in Sejong
    condition = (df[ad_col+'_substate'].isin(list(chain.from_iterable(substate_dict.values())))) & (df[ad_col+'_state'] != '세종특별자치시')
    df.loc[condition, 'block2'] = df.loc[condition, ad_col+'_substate']
    
    # Blocking step 2 : for POIs that are located in Sejong
    condition = (df[ad_col+'_state'] == '세종특별자치시')
    df['block2'] = df['block2'].mask(condition, '세종특별자치시')
    
    df['block2'] = df['block2'].mask(df['block2'].isnull(), 'NoBlock2')
    
    print("Finished blocking step 2.")
    
    return df

In [18]:
input_cols = ['SOURCE', 'SOURCE_ID', 'REG_DT', 
                  'MER_NAME_new','CARD_USE_HIS_new', 'block1', 'block2', 'MER_ADDR_new', 'MER_ADDR_else', 
                  'MER_MSISDN_new', 'PROCESSED_DT']

output_cols = ['SOURCE', 'SOURCE_ID', 'SOURCE_UPT_DT', 
                   'CO_NAME_new','HIS_NAME_new','block1', 'block2', 'ADDR_new', 'ADDR_else', 
                   'REP_PHONE_NUM_new','PROCESSED_DT']

output_table = "ci_dev.PROCESSED_CARD_LOGIN_recleaning"

co_name_col = ['MER_NAME','CARD_USE_HIS']
address_cols = ['MER_ADDR'] 
phone_col = 'MER_MSISDN'
source = 'MEUMS_COLL_CARD_MER'

In [19]:
output_db.execute("DROP TABLE {}".format(output_table))
output_db.execute("CREATE TABLE {}".format(output_table)+
                  " (SOURCE VARCHAR(30), SOURCE_ID INT , SOURCE_UPT_DT VARCHAR(50), "+ 
                   " CO_NAME_new VARCHAR(70), " +
                   " HIS_NAME_new VARCHAR (70), "
                   " block1 VARCHAR(35), block2 VARCHAR(35), "+
                   " ADDR_new VARCHAR(1000), ADDR_else VARCHAR(1000), "+
                   " REP_PHONE_NUM_new VARCHAR(50), PROCESSED_DT VARCHAR(50), PRIMARY KEY(SOURCE,SOURCE_ID),"+
                   " KEY first_index (block1,block2))"+
                   " CHARACTER SET utf8 COLLATE utf8_unicode_ci")

In [20]:
def write_to_db_in_chunk(input_data, input_cols, output_db, output_table, output_cols, chunk_size):
    s = datetime.datetime.now()
    t = len(input_data)
    max_chunk = t // chunk_size +1

    for idx, i in enumerate(range(0, t, chunk_size)):
        output_db.dispose()
        records = tuple(tuple(row) for row in input_data.loc[i:i+chunk_size, input_cols].values)
        insert_query = "INSERT INTO {} {} VALUES (%s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s)".format(output_table, tuple(output_cols))
        insert_query = insert_query.replace("'","")
        try:
            output_db.execute(insert_query, records)
        except sqlalchemy.exc.IntegrityError:
            write_to_db_in_piece(input_data.loc[i:i+chunk_size], input_cols, output_db, output_table, output_cols)
        
        print("Chunk", idx +1, "/", max_chunk, ": ", i, "to ", i+chunk_size, "records are inserted into {} table.".format(output_table))
        
        
    print("Time duration: ", datetime.datetime.now()-s)

In [21]:
def write_to_db_in_piece(input_data, input_cols, output_db, output_table, output_cols):
    s = datetime.datetime.now()
    
    for i,idx in input_data.iterrows():
        output_db.dispose()
        
        records = list(row for row in idx[input_cols])
        insert_query = "INSERT INTO {} {} VALUES (%s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s)".format(output_table, tuple(output_cols))
        insert_query = insert_query.replace("'","")
                
        try:
            output_db.execute(insert_query, tuple(records))
        except sqlalchemy.exc.IntegrityError:
            update_str= " SET " + " , ".join(" {} = %s ".format(n) for n in output_cols )
            source_id = output_cols[1]
            source = output_cols[0]
            update_query = ("UPDATE {} {} where {} = {} and {} = '{}' "
                            .format(output_table,update_str,source_id,idx[source_id],source,idx[source]))
            
            output_db.execute(update_query,idx[input_cols])
            
            
        
        if i%1000==0:
            print("10000 piece n= ", i/1000 , "records are inserted into {} table.".format(output_table))
        
        
    print("Time duration: ", datetime.datetime.now()-s)

In [22]:
on_off_line_df=pd.read_sql('select * from ci_dev.CARD_LOGIN_MER_TYPE_ONOFF',output_db)
on_off_list=on_off_line_df[on_off_line_df['variable']=='Offline']['MER_TYPE'].values.tolist()
n_df=pd.read_sql('select count(1) from eums.MEUMS_COLL_CARD_MER ',input_db)
range_n=n_df['count(1)'].values.tolist()[0]

for idx in range(0,(int)(range_n/10000)+1): #
    df=pd.read_sql('select * from eums.MEUMS_COLL_CARD_MER limit %d,10000'%(idx*10000),input_db)
   
    df = df.mask(df.isna(), 'None')
    df = df[~ (df['MER_NAME'].str.contains("개인택시") & ~df['MER_NAME'].str.contains("충전소"))]
    
    df=df[df['MER_TYPE'].isin(on_off_list)]
    df=df[~(df['CARD_COMP']=='LOTTE_CARD')]
    
    df['MER_ADDR']=df['MER_ADDR'].str.replace(r'\(.*\)$','')
    
    #stop_word_add=stop_words_lst_maker(df,co_name_col)
    
    #for idx in stop_word_add:
    #    stop_words_lst.append(idx)
    #stop_words_lst=list(set(stop_words_lst))
    
    #print(stop_words_lst)
    
    for a in address_cols:
        s = datetime.datetime.now()
        
        #preprocessing
    
    # ready
        new = [a + s for s in ['_main', '_detail', '_state', '_substate', '_else', '_quality']]
    
     # default quality is bad
        df[new[5]] = "bad"
    
    # mark records don't have value
        df[new[5]] = df[new[5]].mask(((df[a] == '') | (df[a] == ' ') | (df[a] == 'None')), 'NoAddress')
    
    # split by ','
        df[new[0]], df[new[1]] = zip(*df[a].apply(split_addr_part1))
        print(a, "column is splitted into ", new[:2], " Time duration:", datetime.datetime.now()-s)
    
    # split by ''
        df[new[2]], df[new[3]], df[new[4]] = zip(*df[new[0]].apply(split_addr_part2))
        print(a + "_main", "column is splitted into", new[2:-1], "Time duration:", datetime.datetime.now()-s)
    
    # standardize state column
        df[new[2]] = standardize_state(df[new[2]])
        df[new[5]] = df[new[5]].mask(df[new[2]].isin(list(state_dict.keys())), 'standardized')
        print((df[new[5]] == 'standardized').sum(), "are standardized in ", new[2], "column. Time duration:", datetime.datetime.now()-s)
    
    # assemble to make new addr column
        df[a + '_new'] = df[new[2]] + ' '+ df[new[3]]+ ' ' + df[new[4]]
    
    #final preprocessing
        df[a+'_new'] = remove(df[a+'_new'], bw_brackets= True, double_space= True, single_space= False)
    
    
        df[a + '_yn'] = df[a] != df[a + '_new']
    ##
    
    for kda in co_name_col:    
        df = preprocess_name(df, kda, stop_words_lst)
    
    
    s = datetime.datetime.now()
    df[phone_col+'_new'] = df[phone_col]
    df[phone_col + '_new'] =df[phone_col + '_new'].str.replace(r'[^0-9|^~]','')

    df[phone_col + '_yn'] = df[phone_col] != df[phone_col + '_new']
    print(datetime.datetime.now()-s, "time spent.")
    print(df[phone_col+'_new'])
    df=assign_blocks(df,address_cols)
    
    df['SOURCE'] = source
    df.columns.values[0] = 'SOURCE_ID'
    df['PROCESSED_DT'] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    df['REG_DT'] =  df['REG_DT'].astype(str)
    
    write_to_db_in_chunk(df, input_cols, output_db, output_table, output_cols,10000)

MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.025257
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.071184
서울특별시 2253
경기도 2133
강원도 426
충청북도 288
충청남도 191
경상북도 404
경상남도 516
전라북도 147
전라남도 106
부산광역시 419
대구광역시 309
인천광역시 748
광주광역시 158
대전광역시 199
울산광역시 169
세종특별자치시 19
제주특별자치도 201
8686 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.108998
0:00:00.105462 time spent to preprocess name column
0:00:00.113862 time spent to preprocess name column
0:00:00.012076 time spent.
0        0318508000
1        0216617335
2        0318520920
5         023247942
6        0318469977
7        0318525558
9         029777717
10       0318492527
11      03100000000
12       0318552555
13      07075361769
15       0318755189
16       0318411655
17       0318756664
18        025221866
19        025819595
20       0318778985
21        025889817
22       0318720079
23        025335877
24        025851878
25       0318769978
26       0319515000
28        025737597
29      07047867861
31       0318378292
32       0234862727
33       0318370542
34       0318725656
35       0310000000
           ...
9970     0536391234
9971     0532843317
9972     0536294050
9973     0536250617
9974     0533210099
9975     0322424745
9976     0533117670
9977    01035294550
9978     0533230005
9979     0533225408
9980     0534276100
9981     0533256555
9982     0533247177
9983     0532619797
9984    07078155970
9985     0532530971
9986     0534265888
9987     0533250566
9988     0533252350
9989     0533221901
9990     0533213722
9991     0533261111
9992     0537667709
9993     0536519419
9994     0537665562
9995     0534257675
9996     0536285675
9997     0533120102
9998     0232848168
9999     0533110606
Name: MER_MSISDN_new, Length: 8686, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:12.930928
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.024425
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.066022
서울특별시 2018
경기도 2477
강원도 191
충청북도 185
충청남도 438
경상북도 529
경상남도 492
전라북도 201
전라남도 163
부산광역시 457
대구광역시 573
인천광역시 443
광주광역시 289
대전광역시 294
울산광역시 173
세종특별자치시 21
제주특별자치도 58
9002 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.117174
0:00:00.113862 time spent to preprocess name column
0:00:00.111198 time spent to preprocess name column
0:00:00.013270 time spent.
0        0538349293
1        0533148900
2        0533111118
3        0534226621
4        0536537999
5        0533240600
6        0534730808
7        0533121114
8        0533264004
9        0534223372
10       0261375254
11       0215776347
12       0534230920
13       0536551152
14       0534287771
15       0533136999
16       0534263069
17       0534219490
18       0542719020
19       0532557754
20       0542719010
21       0534244840
22       0536218155
23       0542726325
24       0533249934
25       0536247552
26       0533253811
27       0533110615
28       0416659996
29       0537216400
           ...
9966     0623673658
9967     0533118054
9969     0516476829
9971     0517550758
9973     0313725151
9974     0316552015
9975     0231426478
9976     0226010755
9977     0226750242
9978     0552645626
9979     0557531245
9981     0522276488
9982    05315770711
9983     0220062118
9984     0517587677
9985     0517614222
9986     0317360062
9987     0315553578
9988     0310000000
9989     0316048768
9990     0315540727
9991     0317478629
9992     0200000000
9993     0317469056
9994     0317444567
9995     0232848168
9996     0234365290
9997     0315673777
9998     0317347194
9999     0317319660
Name: MER_MSISDN_new, Length: 9002, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:02.185777
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.025143
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.063757
서울특별시 3168
경기도 2436
강원도 328
충청북도 163
충청남도 319
경상북도 243
경상남도 207
전라북도 247
전라남도 259
부산광역시 455
대구광역시 249
인천광역시 369
광주광역시 159
대전광역시 90
울산광역시 110
세종특별자치시 29
제주특별자치도 154
8985 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.106488
0:00:00.108383 time spent to preprocess name column
0:00:00.122210 time spent to preprocess name column
0:00:00.014254 time spent.
0        0315570780
1       07089723002
2        0220469600
3        0215441122
4        0315666661
5        0317312623
6        0317544948
7        0317416777
8        0317440110
9        0317343838
10       0317337585
11       0317440158
12       0317350963
13       0805552525
14       0221170660
15       0315529222
16       0315670314
17       0317215047
18       0315519007
19       0317481311
20        027716312
22       0222444945
23       0635610963
24       0222997333
25       0222423631
26       0222142488
27       0240626919
29       0312029238
30       0234598282
31       0313527532
           ...
9968      025967920
9969    07076129062
9970      023109981
9971     0418676284
9972     0448661313
9973     0548592800
9974     0332578660
9975     0220062485
9976     0332568951
9977      023370860
9978      023248545
9979      023380672
9980     0313360005
9981     0313831414
9982     0314655182
9983     0313831414
9984      025046022
9985      025656575
9986     0220062322
9987      026142805
9988      023805678
9989      025020507
9990     0234182884
9992     0516230188
9993     0226357781
9994      020000000
9996      023026041
9997      023855002
9998     0319661632
9999     0232848168
Name: MER_MSISDN_new, Length: 8986, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:02.725479
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.029309
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.072053
서울특별시 2731
경기도 2497
강원도 112
충청북도 277
충청남도 214
경상북도 453
경상남도 532
전라북도 53
전라남도 130
부산광역시 473
대구광역시 475
인천광역시 569
광주광역시 137
대전광역시 315
울산광역시 104
세종특별자치시 14
제주특별자치도 109
9195 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.115212
0:00:00.117751 time spent to preprocess name column
0:00:00.122858 time spent to preprocess name column
0:00:00.020940 time spent.
0         029845747
1         024526103
2       01035236781
4        0226485290
5        0317765999
6         024522060
7        0266783661
8        0220062485
9         024525518
10        024651225
11       0220062485
12        025588305
13       0226543384
14        024034565
15        029283833
16        029292582
17        023635550
18        029207798
19        024685199
20       0232918008
21      01057947780
22        029223392
23        029243805
24       0234376156
25        029251722
26       0226484071
27        027428959
28        029800817
29      07082435582
30        024531353
           ...
9966     0316951066
9967     0316958250
9969    03180032842
9970     0312049607
9972    07072090589
9974     0312057557
9975     0312042772
9976     0312035088
9977     0220969777
9978     0232848185
9979     0312055508
9980     0222905851
9981     0312035792
9982     0313022529
9983     0318128307
9984    07074041465
9985     0805552525
9986     0312739087
9987     0312037026
9988     0312782828
9989     0312052054
9990     0312056208
9991      027365290
9992     0316958217
9993      028039569
9994    03180662811
9995     0312057220
9996     0312037577
9997     0312155520
9998     0327436288
Name: MER_MSISDN_new, Length: 9195, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:02.406147
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.024703
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.148339
서울특별시 3103
경기도 2595
강원도 287
충청북도 349
충청남도 287
경상북도 224
경상남도 297
전라북도 176
전라남도 92
부산광역시 397
대구광역시 302
인천광역시 546
광주광역시 59
대전광역시 223
울산광역시 222
세종특별자치시 24
제주특별자치도 107
9290 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.191530
0:00:00.116007 time spent to preprocess name column
0:00:00.113716 time spent to preprocess name column
0:00:00.012610 time spent.
0        0230151100
1        0234061773
2         024107230
3        0312316000
4        0220062485
5        0312026651
6        0333325189
7       01191147629
8        0512013400
9        0316829830
10       0629523333
11       0635610962
12       0313538286
13      03180593873
14       0312371626
15        024678788
16       0805552525
17       0632732871
18       0262823104
19      07072090536
20       0317052425
21       0333449393
22       0517523790
24       0316542774
25       0425810678
26       0429365189
28       0222677285
29       0424860981
30       0232848168
31       0313185189
           ...
9970      027655055
9971      023261186
9972     0312310055
9973     0312369955
9974     0226212881
9975      023366783
9976     0220062485
9977     0805552525
9978     0234598282
9979    01026339858
9980    01093267916
9981      025495878
9982     0168963915
9983      023333347
9984     0222348795
9985      027156881
9986      025613702
9987     0220156035
9988     0220156000
9989      023235511
9990      023335508
9991     0222656798
9992     0429360001
9993      023341294
9994      023364775
9995     0429344020
9996      023342428
9997      029305670
9998      023341888
9999      023350243
Name: MER_MSISDN_new, Length: 9290, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:01.905607
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.026532
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.067938
서울특별시 3291
경기도 2453
강원도 507
충청북도 190
충청남도 288
경상북도 302
경상남도 328
전라북도 186
전라남도 66
부산광역시 394
대구광역시 330
인천광역시 407
광주광역시 126
대전광역시 173
울산광역시 204
세종특별자치시 83
제주특별자치도 98
9426 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.108876
0:00:00.121478 time spent to preprocess name column
0:00:00.112844 time spent to preprocess name column
0:00:00.012380 time spent.
0         023378058
1        0231429952
2         023384226
3         023227924
4         023224626
5         023323655
6        0231428202
7         024125469
8        0226011777
9         023227579
10        023360999
11        025742990
12       0222647582
13       0222739785
14        023220774
15        023939375
16      07047635713
17        025468245
18       0316571451
19       0317497001
20        028356821
21       0623637457
22       0623692815
23       0623527588
24       0623612331
25       0626126878
26       0626105844
27       0626105844
28       0623653121
29       0623831592
           ...
9969      029292238
9970      024516123
9971      027661782
9972     0234416740
9973     0226368245
9974     0312920924
9976     0543803333
9977     0544656801
9978      025428006
9979      027091058
9980     0215779621
9981      029563026
9982      025343651
9983    07088682407
9984     0232854993
9985      029568361
9986      029696288
9987     0708821304
9988     0556499402
9989    07082252012
9990      025671675
9991     0325082971
9992     0200000000
9993     0260107980
9994      024876188
9995     0231407587
9996      024209913
9997     0429318383
9998     0269161500
9999     0328349284
Name: MER_MSISDN_new, Length: 9427, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:02.341325
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.037841
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.083924
서울특별시 2727
경기도 2772
강원도 213
충청북도 194
충청남도 424
경상북도 473
경상남도 295
전라북도 100
전라남도 93
부산광역시 580
대구광역시 336
인천광역시 615
광주광역시 127
대전광역시 199
울산광역시 164
세종특별자치시 31
제주특별자치도 54
9397 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.130630
0:00:00.119746 time spent to preprocess name column
0:00:00.112812 time spent to preprocess name column
0:00:00.012284 time spent.
0         029823114
1        0539430103
2        0226075252
3         029551990
4        0317569866
5        0317585655
6         025293120
7         025588864
8        0622222526
9        0439009954
10        027763384
11       0425232228
12       0313931917
13       0327661856
14       0317915085
15       0319095151
16       0226013393
17       0632639557
18        029519957
19       0432317062
20        029326564
21       0312951225
22       0617610728
23       0234626325
24       0315556933
25       0336432333
26       0328172722
27       0325678212
28       0328210010
29        028758988
           ...
9969     0536381501
9970     0317818182
9971     0535820899
9972     0535812838
9973     0536361045
9974     0415335264
9975     0327667295
9976     0647967481
9977    07082681052
9978     0319817155
9979      023127734
9980     0325275900
9981     0264493500
9982     0260706518
9984     0318466779
9985    07088518717
9986      024713654
9987    07075113798
9988      024227765
9989      024781037
9990      024700501
9991      023990758
9992      024778200
9993      024831477
9994      024777989
9995     0215442767
9996      024864500
9997     0221587979
9998      029655662
9999      029680256
Name: MER_MSISDN_new, Length: 9397, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:02.239205
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.024757
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.157586
서울특별시 3072
경기도 2789
강원도 270
충청북도 119
충청남도 437
경상북도 236
경상남도 279
전라북도 156
전라남도 98
부산광역시 757
대구광역시 248
인천광역시 350
광주광역시 118
대전광역시 166
울산광역시 145
세종특별자치시 23
제주특별자치도 84
9347 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.202852
0:00:00.117635 time spent to preprocess name column
0:00:00.111755 time spent to preprocess name column
0:00:00.012343 time spent.
0        0221587900
1       07088139640
2         025046009
3         025030585
4        0314107765
5        0314414090
6        0314050855
7        0314386500
8        0314238476
9        0314239279
10       0314247603
11        028903719
13       0647581894
14       0312402827
15        029067000
16       0415334702
17      07063470808
18       0430000000
19       0319678606
20      07082456695
21       0319382881
22      07042436441
23       0269161500
24       0319315099
25       0311111111
26       0319678876
27       0319680689
28       0319724381
29       0319666663
30       0319676304
           ...
9969     0518964566
9970     0519736028
9971     0519737766
9972     0512052852
9973     0519738900
9974     0519737737
9975     0518310315
9976     0518311558
9977     0512058171
9978     0519415686
9979     0512087003
9980     0512047344
9981     0512711235
9982     0512940716
9983     0512711355
9984    01022075999
9985     0519729681
9986     0512542666
9988     0512052200
9989      029057961
9990     0416724183
9991      029003130
9992     0313849341
9993     0313970353
9994    03100000000
9995      025344462
9996      029947241
9997     0313826100
9998     0220120101
9999      024585290
Name: MER_MSISDN_new, Length: 9347, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:02.082962
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.026354
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.065770
서울특별시 3102
경기도 2811
강원도 149
충청북도 207
충청남도 443
경상북도 241
경상남도 278
전라북도 222
전라남도 143
부산광역시 618
대구광역시 212
인천광역시 575
광주광역시 60
대전광역시 120
울산광역시 92
세종특별자치시 22
제주특별자치도 128
9423 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.108129
0:00:00.137908 time spent to preprocess name column
0:00:00.114357 time spent to preprocess name column
0:00:00.012966 time spent.
0        025583740
1       0544605253
2        024725704
3       0237896468
4        024831241
5        024733103
6        024776009
7        024703864
8        024739599
9       0222668271
10       024872009
11       024862879
12      0222665947
13       024752481
14      0556493378
15      0314548126
16      0324270420
17      0220062485
18       025429842
19      0215886958
20       029886039
21      0313784007
22      0220062485
23       023817017
24      0416698275
25      0416637582
26      0416630247
28      0318580040
29       023883379
30      0312747744
           ...
9970     024088669
9971     024961006
9972    0542447600
9973    0222610299
9974     025470041
9975    0220062485
9976    0324248380
9977    0215441122
9978    0325244377
9979    0319051297
9980    0313737374
9981    0336440517
9982    0553880108
9983    0517017908
9984    0515821077
9985    0553627009
9986    0553881149
9987    0553632033
9988    0553878617
9989    0553878708
9990    0553676225
9991    0559032875
9992    0553652045
9993    0553677788
9994    0553677528
9995    0553880770
9996    0553669598
9997    0553882860
9998    0553624750
9999    0553858837
Name: MER_MSISDN_new, Length: 9424, dtype: object
Finished blocking step 2.
Chunk 1 / 1 :  0 to  10000 records are inserted into ci_dev.PROCESSED_CARD_LOGIN_recleaning table.
Time duration:  0:00:01.600913
MER_ADDR column is splitted into  ['MER_ADDR_main', 'MER_ADDR_detail']  Time duration: 0:00:00.027654
MER_ADDR_main column is splitted into ['MER_ADDR_state', 'MER_ADDR_substate', 'MER_ADDR_else'] Time duration: 0:00:00.069020
서울특별시 2631
경기도 2722
강원도 157
충청북도 322
충청남도 288
경상북도 371
경상남도 358
전라북도 75
전라남도 101
부산광역시 387
대구광역시 449
인천광역시 645
광주광역시 192
대전광역시 338
울산광역시 190
세종특별자치시 29
제주특별자치도 117
9372 are standardized in  MER_ADDR_state column. Time duration: 0:00:00.113310
0:00:00.112929 time spent to preprocess name column
0:00:00.116407 time spent to preprocess name column
0:00:00.015376 time spent.
0        0553810979
1        0553881772
2        0553654304
3       07075265002
4        0553877541
5        0553663671
6        0518535557
7        0559104400
8        0553631182
9        0515087800
10       0517143701
11       0518647600
12       0518626941
13       0553676555
14       0553634479
15       0515838203
16       0515832160
17       0553635678
18       0559100563
19       0553420330
21       0553630221
22       0553872300
23       0553848688
24       0515122519
25       0215441122
26       0319843309
27       0612848485
28        024840787
29        025257990
30       0211111111
           ...
9966     0316115949
9967     0316631991
9968     0226149997
9969     0220609656
9970     0220666610
9971     0616902334
9972     0616851401
9973     0616818201
9974     0616545151
9975     0617612508
9976     0617612508
9977     0616548200
9978     0616525923
9980     0619082274
9981     0616924088
9982     0616434482
9983     0616850481
9984     0616623692
9986     0616537233
9987     0616502523
9988     0617612508
9989     0616548883
9991     0616532122
9992     0616916615
9993     0616548286
9994     0616626934
9995     0616415880
9997     0616665616
9998     0616810808
9999     0616851929
Name: MER_MSISDN_new, Length: 9372, dtype: object